<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>CarGallery</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style>
    h1 {
      font: bold 200px arial, sans-serif;
      background-color: #565656;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
    }
    form {
        width: 400px;
        margin: 50px auto;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
      }
      
      
  </style>
    
</head>
<body background="gray">
  <header id="header" class="d-flex align-items-center mb-5">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Car Gallery</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      {% include 'navbare.html' %}
    </div>
  </header><!-- End Header -->

  <form class="form-signin mt-5 " method="post">
    <div class="d-flex flex-column pb-3 ">
      {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-danger btn-block" type="submit">Log in</button>
            <hr>
              <center>
                ---or---
            <a class="nav-link text-danger" href="{% url 'register' %}">-----Register-----</a>
              </center>
       </div> </form>
       {% if login_form.non_field_errors %}
       <div style="color: red">
         <p>{{login_form.non_field_errors}}</p>
        </div>
        
        {% endif %}
        
        
        
      </form>
    
    
    
    
      
</body>
